# Core functionality - changes here should be rare!
/src/app.py                   @asalletmaier
/src/backend/database.py      @asalletmaier
/src/backend/routers/auth.py  @asalletmaier

# The frontend will need refactored soon to be more object oriented.
/src/static/   @asalletmaier
